
body{
display: flex;
justify-content: center;
align-items: center;
height: 150vh;
background: #52CCCA;
}

.wrapper{
padding: 20px;
background:#845895;
width: 350px;
min-height: 410px;
display: inline-grid;
}

.form-group{
    margin: 10px 0px 10px 0px;
}


